.class
*.log
.history

# sbt specific
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/activator-sbt*

# Data
data/*

# IDEA InteliJ
.idea/*
.idea_modules/*
projectFilesBackup/

revision.txt

.DS_Store
*.sc
